$primary : #eb3f3f;
$primary-light: #ff6262;
$secundary: #070331;

$dark-blue: #00000085;
$light-grey: #c5c5c5;
$white: #fff;
$color-yellow : #e8db34;
$plata: #c5c5c5;
$rojo: #840707;
$text-black: #000;
$text-grey-dark:#636363
